---
layout: layout.liquid
title: Polaroid-Cloud
---

<body>
  <div class="container">
    <section class="hero">
      <div class="brand">Polaroid Cloud</div>
      <h1 class="hero-title">
      <span>FILM TO</span>
      <span>PHONE</span>
      </h1>
      <img src="/images/polaroid.png" alt="Polaroid camera" class="hero-image">
      <h2>Any cloud, anytime.</h2>
      <p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you've come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.</p>
    </section>

    <section class="features">
      <h2>Easy, cheesy!</h2>
      <ul class="features-list">
        <li class="feature-item">
          <img src="/images/wifi-svgrepo-com.svg" alt="WiFi icon" class="feature-icon">
          Connect your Polaroid to a WiFi network
        </li>
        <li class="feature-item">
          <img src="/images/cloud-upload-svgrepo-com.svg" alt="Cloud icon" class="feature-icon">
          Configure your favorite cloud
        </li>
        <li class="feature-item">
          <img src="/images/qr-code-02-svgrepo-com.svg" alt="Camera icon" class="feature-icon">
          Point, shoot, and print your QR-tagged photo
        </li>
        <li class="feature-item">
          <img src="/images/image-plus-svgrepo-com.svg" alt="Share icon" class="feature-icon">
          Share your physical and digital photos with friends and family
        </li>
      </ul>
    </section>

    <section class="newsletter">
      <h2>Be the first to know.</h2>
      <form class="newsletter-form">
        <input 
          type="email" 
          class="newsletter-input" 
          placeholder="Enter your email address to receive updates"
          required
        >
        <button type="submit" class="button">KEEP IN TOUCH</button>
      </form>
    </section>
  </div>
</body>